*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #000 !important;
    color: white;
}

/*Start Navbar  */
nav ul li{
    cursor: pointer;
    font-size: 30px;
    position: relative;
}
nav ul .nav-item::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #fff;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 600ms;
}
nav ul .nav-item:hover::after{
    width: 100%;
}

/* CSS reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 62.5%;
}

/* Typography --------------------------------------------*/

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.heading {
  margin-bottom: 3rem;
}

.body-text {
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin: 0 auto;
  width: 70%;
}

.footer-text {
  color: #fff;
  font-size: 1.5rem;
}
/* Logo---------------------------------------------- */
.logo img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* Header --------------------------------------------*/

.header {
  margin: 0 auto;
  padding: 3rem 0;
  width: 65%;
}
.header ul{
  background-color: black;
  color: white;
  margin-bottom: 20px !important;
  top: 0px;
}
.header ul .size{
  margin-left: -40px;
}
/* Footer --------------------------------------------*/

.footer {
  background-color: black;
  color: white;
   margin-top: 3rem;
  padding: 2rem 0;
  width: 100%;
}
a{
  text-decoration: none !important;
  color: white !important;
}
         .masonry-grid {
           column-count: 4;
           column-gap: 1rem;
         }
    
         .masonry-grid-item {
           background: #ccc;
           margin-bottom: 1rem;
         }
    
         /* Responsive adjustments */
         @media (max-width: 992px) {
           .masonry-grid {
             column-count: 3;
           }
         }
    
         @media (max-width: 768px) {
           .masonry-grid {
             column-count: 2;
           }
         }
    
         @media (max-width: 576px) {
           .masonry-grid {
             column-count: 1;
           }
         }
/* Grids --------------------------------------------*/
/* 
.container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 150px);
  margin: 0 auto;
  max-width: 90%;
  padding: 3rem 0;
} */

/* Grid images --------------------------------------------*/
/* 
.img {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

/* Grid items --------------------------------------------*/
/* 
.item-4 {
  grid-row: 2/5;
}

.item-5 {
  grid-row: 2/6;
}

.item-6 {
  grid-row: 2/4;
}

.item-7 {
  grid-row: 5/6;
}

.item-8 {
  grid-row: 4/6;
}

.item-9 {
  grid-row: 6/11;
}

.item-10 {
  grid-row: 6/7;
}

.item-11 {
  grid-row: 6/9;
}

.item-12 {
  grid-row: 7/12;
}

.item-13 {
  grid-row: 9/13;
}

.item-14 {
  grid-row: 11/13;
} */




/* Gallery */
.gallery-img{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: column;
  height: 700px;
}
.gallery-img picture{
  width: calc(calc(100% - 15px * 2) / 3);
  
  
  
}
.gallery-img img{
  width: 100%;
  /* height: 100%; */
  border-radius: 20px;
  
}
@media screen and (min-width:1000px){
  .gallery-img picture{
    width: calc(calc(100% - 15px * 2) / 4);
  }
  .gallery-img{
    flex-wrap: nowrap;
    flex-direction: row;
  }
}



.gallery-img {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Adjust the gap as needed */
}

.gallery-img picture {
  flex: 1 0 21%;
  /* Adjust this to change the width of each picture. This example uses 21% to fit 4 items in a row, adjusting for the gap */
  overflow: hidden;
}

.gallery-img picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery-img picture:hover {
  transform: scale(1.05);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
}

.lightbox:target {
  visibility: visible;
  opacity: 1;
}



.gallery-img picture.selected {
  opacity: 0.5; 
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Cursor style for gallery images */
.gallery-img picture img {
  cursor: pointer;
  /* Changes cursor to pointer when hovering over images */
}

/* Style for navigation arrows in the lightbox */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev{
  right: 0;
}
/* Position the "next button" to the right */
.next {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.header {
  transition: top 0.3s;
}

.header--fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  /* Ensure the header stays above other elements */
  background-color: #000;
  /* Or your desired background color */
}

.image-checkbox-label {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
}

.image-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.image-checkbox:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.image-checkbox:checked~.checkmark:after {
  display: block;
}

.checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.image-checkbox-label {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid white;
  /* White border for visibility */
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden;
  /* Initially hidden */
}

.image-checkbox {
  opacity: 0;
  position: absolute;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #2196F3;
  visibility: hidden;
  /* Initially hidden */
}

.image-checkbox:checked+.checkmark {
  visibility: visible;
}

.image-checkbox {
  opacity: 0;
  /* Other styles */
}



.album-images-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  align-content: flex-start;
  max-height: 80vh;
  overflow-y: auto;
}

.album-image {
  flex: 1 1 auto;
  height: auto;
  /* Maintain aspect ratio */
  min-width: 150px;
  /* Or your preferred minimum width */
  max-width: 300px;
  /* Or your preferred maximum width */
}


@media (max-width: 768px) {
  .album-image {
    min-width: 120px;
    max-width: 200px;
  }
}